/* Reset */

html {
    margin: 0;
    padding: 0;

}

/* Reset og indsættelse af font type */

body {
    margin: 0;
    padding: 0;
    font-family: frank-new, sans-serif;
    font-weight: 700;
    font-style: normal;

}

a{
  text-decoration: none;
  color: #ffffff;
}

/*-----------  Menubar til undersider  ---------------*/


.menu_underside{
  position: fixed;
  display: flex;
  justify-content: space-around;
  background-image: url("../img/menubar_aav.png");
  z-index: 99;
  width: 100%;
  top: 0;
}

.menu_underside img{
  width: 200px;
  margin-top: 10px;
}

#highlight{
  color: #c5392b;
}

.menu_underside a:hover{
  color: #c5392b;
  transition: 0.2s;
}



/* ----- LINEUP - (Underside) ----- */

.lineup_festivalspil_container {
    width: 100%;
    height: 50px;
    background-color: #C5392B;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.lineup_festivalspil_link {
    text-decoration: none;
    color: #FFFFFF;
}

.lineup_hero_billede {
    width: 100%;
    margin: 0;
    overflow: hidden;
    z-index: 3;
}

.lineup_hero_container {
    position: relative;
    display: flex;
    z-index: 3;
}

.lineup_overskrift_container {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #F76F1E;
    background: linear-gradient(180deg, rgba(247, 111, 30, 1) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 100%);
    z-index: 3;
}

.lineup_lineup_overskrift {
    color: #FFFFFF;
    font-size: 80px;
    margin-top: -80px;
    text-align: center;

}

.lineup_hero_overskrift_h1 {
    position: absolute;
    font-size: 75px;
    left: 30%;
    top: 150px;
    z-index: 5;
}

.lineup_hero_overskrift_h2 {
    position: absolute;
    font-size: 75px;
    left: 55%;
    top: 190px;
    z-index: 5;
}

.lineup_button {
    display: flex;
    position: absolute;
    left: 37%;
    top: 520px;
    z-index: 5;

}

.lineup_kunstnere_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 1200px;
    padding: 50px;
}

.lineup_kunstner_kort {
    height: 300px;
    margin: 20px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
}

.lineup_kunstner_kort h2, .lineup_kunstner_kort a {
    margin-left: 10px;
    color: #C5392B;
    text-decoration: none;
}

.lineup_kunstner_billede {
    height: 200px;
}

.lineup_kort_container {
    position: relative;
    width: 100%;
    height: 700px;

}

.lineup_kortet {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.lineup_kort_tekstbox {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 700px;
    height: 150px;
    bottom: 550px;
    background-color: #C5392B;
    z-index: 5;
}

.lineup_kort_h2 {
    color: #FFFFFF;
    font-size: 45px;
}





/* ---------- OM OS (Forside sektion) ---------- */

/* Dette danner den brune baggrund vha. en stor <div>, som er den brune farve. */

.omos_brun_baggrund {
    width: 100%;
    height: 800px;
    background-color: #5e5047;

}

/* Billedet i sektionen bliver sat ind og stylet her */

.omos_billede {
    position: relative;
    height: 500px;
    width: 750px;
    border-radius: 10px;
    top: 45px;
    left: 610px;
    z-index: 3;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);

}

/* Den store overskrift som til dels går ind over billedet via z-index. */

.omos_overskrift {
    position: absolute;
    margin: 0;
    top: 55px;
    left: 100px;
    color: white;
    font-size: 100px;
    z-index: 5;
    -webkit-text-stroke: 1px #4F433C;
    /* width and color */

}

/* Undertitlen som vises lige over knappen. */

.omos_undertitel {
    position: relative;
    margin: 0;
    top: 40px;
    left: 100px;
    max-width: 550px;
    color: white;
    font-size: 20px;
    z-index: 5;

}

.omos_button {
    display: flex;
    position: absolute;
    left: 5%;
    top: 680px;
    z-index: 5;

}

/* ---------- BLIV FRIVILLIG SEKTIONEN ---------- */

/* Den hvide baggrund */

.frivillig_baggrund {
    width: 100%;
    height: 800px;
    background-color: #FFFFFF;

}

/* Billedet til "Bliv frivillig sektionen" */

.frivillig_billede {
    position: relative;
    height: 600px;
    width: 800px;
    top: 100px;
    left: 50px;
    border-radius: 5px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

/* Overskriften i højre side */

.frivillig_overskrift_2 {
    position: relative;
    left: 900px;
    top: -400px;
    font-size: 60px;
    color: #F76F1E;
}

/* ----- (ORANGE) ANIMERET KNAP TIL DIVERSE SIDER ----- */

@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    position: relative;
    left: 63%;
    top: -300px;

}

.cta {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'New Frank', sans-serif;
    font-size: 30px;
    color: white;
    background: #F76F1E;
    transition: 1s;
    box-shadow: 6px 6px 0 #5E5047;
    transform: skewX(-15deg);

}

.cta:focus {
    outline: none;
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #C5392B;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

span {
    transform: skewX(15deg)
}

span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
}

/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations til knappen */

@keyframes color_anim {
    0% {
        fill: white;
    }

    50% {
        fill: #ff904f;
    }

    100% {
        fill: white;
    }
}


/* ----- FOOTER ----- */

.footer {
    background-color: #C5392B;
    padding: 50px 0;
}

.footer_container {
    max-width: 1170px;
    background-color: #C5392B;
    margin: auto;
}

.footer_row {
    display: flex;
    flex-wrap: wrap;
}

.footer_col {
    width: 25%;
    padding: 0 15px;
}

.footer_col h4 {
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 30px;
    position: relative;
}

.footer_col p {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.footer_col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: #FFFFFF;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.fa {
    padding: 20px;
    text-align: center;
    margin: 5px 2px;
    font-size: 30px;
    width: 50px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.footer_logo {
    height: 50px;
    width: 300px;
    margin-top: 100px;
}

/* -----  404 Fejl-side ----- */

.ukendt-side_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 50%;

}

.ukendt-side_tekst {
    font-size: 40px;
    color: #C5392B;
    margin-left: 35%;
}

.ukendt_button {
    display: flex;
    position: absolute;
    left: 35%;
    top: 520px;
    z-index: 5;
}

/* ----- Countdown Timer til forsiden ----- */

.countdown_container {
    position: absolute;
    top: 80px;
    left: 100px;
    right: 100px;
    bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.countdown_container h2 span {
    display: block;
    font-weight: 300;
    letter-spacing: 6px;
    font-size: 0.2em;
}

.countdown {
    display: flex;
    margin-top: 50px;
}

.countdown div {
    position: relative;
    width: 125px;
    height: 200px;
    padding-top: 50px;
    text-align: center;
    background: #5e5047;
    color: #fff;
    margin: 0 30px;
    font-size: 4em;
    font-weight: 500;
    border-radius: 15px;
}

.countdown div:before {
    content: '';
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 35px;
    color: #333;
    font-style: 0.35em;
    line-height: 35px;
    font-weight: 300;
}

.countdown #day:before {
    content: 'Dage';
}

.countdown #hour:before {
    content: 'Timer';
}

.countdown #minute:before {
    content: 'Minutter';
}

.countdown #second:before {
    content: 'Sekunder';
}

/* ----------------------------------------- Titel på siden ----------------------------------------- */
.titel_omos {
  text-align: center;
  color: #c5392b;
  font-size: 50px;
  margin-top: 50px;
}

/* ----------------------------------------- Kort ----------------------------------------- */
.kort_body {
  font-family: "Times New Roman", Times, serif;
  margin: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 0.3fr));
  grid-gap: 32px;
  justify-content: center;
}

.kort {
  overflow: hidden;
  border: 1px solid #5e5047;
  box-shadow: 4px 4px #5e5047;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: border 200ms ease-in, box-shadow 200ms ease-in;
}

.kort_link::after {
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: relative;
  left: 0.5rem;
}

/* ----------------------------------------- Hover på kort ----------------------------------------- */
.kort:hover {
  border: 1px solid;
  box-shadow: 8px 8px;
  color: #5e5047;
}

/* ----------------------------------------- Kort img ----------------------------------------- */
.kort_img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 320px 568px) {
  .kort_img {
    height: 15rem;
    max-width: 100%;
    object-fit: cover;
  }
}

/* ----------------------------------------- Kort titel ----------------------------------------- */
.kort_title {
  padding: 1rem;
  color: #c5392b;
  font-family: frank-new, sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* ----------------------------------------- Kort link ----------------------------------------- */
.kort_link {
  text-decoration: none;
  padding: 1rem;
  font-weight: bold;
  color: #c5392b;
  font-family: frank-new, sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* ----------------------------------------- Citat ----------------------------------------- */
.brunt_felt {
  background-color: #5e5047;
  height: 140px;
  width: 100%;
  margin-top: 50px;
  padding-top: 5px;
}

.citat {
  text-align: center;
  justify-content: center;
  color: #ffffff;
  font-size: 30px;
  margin: 50px;
}

/* ----------------------------------------- Historie sektioner ----------------------------------------- */
.container_historie_sektioner {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container_historie_img_v {
  display: flex;
  justify-content: left;
  width: 650px;
  height: 400px;
  margin-left: 100px;
}

.container_historie_img_h {
  display: flex;
  justify-content: right;
  width: 650px;
  height: 400px;
  margin-right: 100px;
}

.overskrift_historie_sektion {
  color: #f76f1e;
  font-style: italic;
  font-weight: 900;
  font-size: 25px;
}

.overskrift_historie_sektion_2 {
  color: #f76f1e;
  font-style: italic;
  font-weight: 900;
  font-size: 25px;
  text-align: right;
}

.container_historie_tekst_h {
  justify-content: right;
  margin-top: 20px;
  margin-right: 180px;
  margin-left: 0px;
  line-height: 1.3;
}

.container_historie_tekst_v {
  justify-content: left;
  margin-top: 20px;
  margin-left: 140px;
  margin-right: 50px;
  line-height: 1.3;
  text-align: right;
}

/* ----------------------------------------- Bliv frivillig ----------------------------------------- */

.frivillig_img {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 900px;
}

.frivillig_tekst {
  position: relative;
  z-index: 30;
  padding: 10px;
  background-color: #c5392b;
  bottom: 800px;
  width: 40%;
  height: 100px;
}

.frivillig_overskrift {
  color: #ffffff;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 20px;
}

.frivillig_underoverskrift {
  color: #ffffff;
  margin-left: 20px;
}

.frivillig_info_tekst {
  position: relative;
  z-index: 30;
  padding: 10px;
  float: right;
  background-color: #c5392b;
  bottom: 500px;
  width: 40%;
  height: 260px;
}

.frivillig_info {
  color: #ffffff;
  margin-top: 10px;
  margin-left: 20px;
}

.frivillig_info_underoverskrift {
  color: #ffffff;
  margin-left: 20px;
}

/* ----------------------------------------- Praktisk info ----------------------------------------- */

.praktisk_info_overskrift {
  text-align: center;
  display: block;
  color: #5e5047;
  font-size: 30px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.container_praktiskinfo_stor {
  margin: auto;
  margin-top: 0;
  width: 100%;
}

.container_information {
  display: flex;
  position: relative;
  left: 2%;
  background-size: cover;
  margin-top: 0;
}

.container_left {
  width: 500px;
  padding: 5px;
  margin-right: 150px;
}

.container_right {
  width: 500px;
  padding: 5px;
  margin-right: 200px;
}

.container_hvornaar_hvor {
  margin-bottom: 30px;
  padding: 10px;
  width: 200px;
  height: 110px;
  border-radius: 10px;
  background-color: #5e5047;
  margin-left: 400px;
}

.titel_hvornaar_hvor {
  text-align: center;
  justify-content: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: 800;
  margin-top: 20px;
}

.tekst_hvornaar_hvor {
  text-align: center;
  justify-content: center;
  color: #ffffff;
  font-size: 15px;
  font-weight: 800;
  line-height: 1.3;
}

.praktisk_info_tekst {
  line-height: 1.3;
  width: 350px;
  height: 400px;
  color: #2e2d2e;
  margin-right: 200px;
  font-size: 17px;
}

/* ----------------------------------------- Praktisk info kort ----------------------------------------- */
.map_overskrift {
  text-align: center;
  display: block;
  color: #5e5047;
  font-size: 30px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.map_festival_lokation {
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 600px;
}

/* ----------------------------------------- Galleri ----------------------------------------- */

.herobillede_img {
  position: relative;
  height: 500px;
  width: 100%;
  z-index: 10;
}

.header_text {
  position: relative;
  font-weight: 900;
  font-size: 60px;
  color: #c5392b;
  z-index: 20;
  bottom: 140px;
  margin-left: 30px;
}

/* ----------------------------------------- Tidslinjen ------------------------------------------*/

.aarstal {
  margin-top: 10px;
  color: #c5392b;
}

.container_galleri_billeder {
  display: flex;
  flex-direction: row;
}

.tidslinje_billeder {
  width: 25%;
  margin: 10px;
}

/* Tidslinjen */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #c5392b;
  top: 0;
  bottom: 60px;
  left: 50%;
  margin-left: -3px;
}

/* Container rundt om billederne */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: white;
  width: 50%;
}

/* Prikkerne til tidslinjen */
.container::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  right: -10px;
  background-color: #2e2d2e;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Placering af container til højre */
.right {
  left: 50%;
  bottom: 45px;
}

/* Fix prikkerne til venstre */
.left::after {
  right: -16px;
}

/* billederne */
.galleri_billeder {
  padding: 20px 30px;
  background-color: #2e2d2e;
  position: relative;
  border-radius: 6px;
  height: 300px;
}

/* Place tidslinjen til venstre */
.timeline::after {
  left: 31px;
}

/* Full-width containers */
.container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
}

/* Sikre at prikkerne er samme sted */
.left::after,
.right::after {
  left: 15px;
}

/* Sikre at containerne reagere ens */
.right {
  left: 0%;
}




